.container-content-about{
    margin: 0;
    padding: 0;
    position: relative;
}


.container-content-about .content-about{
    position: relative;
    margin: auto;
    margin-top: 17%;
    margin-left: 50px;
}

.container-content-about .content-about .image-content{
    background: rgb(0, 0, 0);
    height: 300px;
    width: 450px;
    border-radius: 30px;
}

.container-content-about .content-about .image-content .image{
   height: 300px;
   width: 450px;
   border-radius: 30px;
 
}

.container-content-about .content-about .image-content-vol2{
    height: 300px;
    width: 450px;
    border-radius: 30px;
    margin-top: -80px;
    margin-left: 70px;
}

.container-content-about .content-about .image-content-vol2 .image-vol2{
   height: 300px;
   width: 450px;
   border-radius: 30px;
   z-index: 1;
   margin-top: -80px;
}

.container-content-about .content-about .text-content{
    float: right;
    position: relative;
    margin-right: 13%;
    margin-top: -35%;
    animation-name:animasiBaru1;
    animation-duration: 2s;
}

.container-content-about .content-about .text-content .text-vol1{
    font-size: 20px;
    font-weight: bold;
}

.container-content-about .content-about .button-info{
    float: right;
    position: relative;
    margin-right: 39%;
    margin-top: -20%;
    animation-name:animasiBaru2;
    animation-duration: 2s;
}

.container-content-about .content-about .button-info .btn-info{
    padding: 8px 40px;
    border-radius: 15px;
    border-style: none;
    background: rgb(255, 50, 50);
    color: white;
    font-size: 15px;
    font-weight: bold;
}

.container-content-about .content-about .button-info .btn-info:hover{
    padding: 8px 40px;
    border-radius: 15px;
    border-style: none;
    background: rgb(165, 165, 165);
    color: white;
    font-size: 15px;
    font-weight: bold;
}

@keyframes animasiBaru1 {
    0%{
        margin-left: 9%;
        opacity: 0.2;
    }
    25%{
        
        margin-right: 15%;
        opacity: 0;
    }
}

@keyframes animasiBaru2 {
    0%{
        margin-left: 9%;
        opacity: 0.2;
    }
    25%{
        
        margin-right: 15%;
        opacity: 0;
    }
}

